*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world {
    overflow: hidden;
    position: relative;
}

.score {
    color: #535353;
    position: absolute;
    font-size: 3vmin;
    top: 1vmin;
    left: 50%;
    transform: translateX(-50%);
}

.start-screen {
    color: #535353;
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end-screen {
    color: #535353;
    position: absolute;
    font-size: 5vmin;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}

.cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}